*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}
.navbar ul{
    display: flex;
    list-style: none;
    margin:  20px 0px ;
}
.navbar ul li a{
    font-family: century;
    font-size: 1.1rem;
    font-weight: bold;
}
.navbar ul li a{
    text-decoration: none;
    color: white;
    padding: 8px 25px;
    transition: all .5s ease;
}
.navbar ul li a:hover{
    background-color: white;
    color: black;
    box-shadow:0 0 10px white;
}

/* Home Section*/
 #home{
     display: flex;
     flex-direction: column;
     background-color: rgba(0, 0, 0, 0.5);
     height: 840px;
     justify-content: center;
     align-items: center;
     color: white;
 }
 #home::before{
     content:"";
     position: absolute;
     top: 0;
     right: 0;
     background: url("img-6454.jpg") no-repeat center/cover;
     height: 900px;
     width: 100%;
     z-index: -1;
     opacity: .8;
 }
 .main{
     display: flex;
     flex-direction: column;
     border:1px solid white;
 }